@{
    var siteContext = SiteContext.Current;
    var siteInfo = siteContext.SiteInfo;
}
<div class="header-wraper">
    <!--=== Header ===-->
    <div class="header-v5 header-sticky">
        @_CheckBrowser()
        @topbarV3()
        @_Menus()
    </div>
    <!--=== End Header===-->
</div>

@helper topbar()
{
    <div class="topbar">
        <ul class="loginbar pull-right">
            <li class="hoverSelector">
                <i class="fa fa-globe"></i>
                <a>Languages</a>
                <ul class="languages hoverSelectorBlock">
                    <li class="active">
                        <a href="#">English <i class="fa fa-check"></i></a>
                    </li>
                    <li><a href="#">Spanish</a></li>
                    <li><a href="#">Russian</a></li>
                    <li><a href="#">German</a></li>
                </ul>
            </li>
            <li class="topbar-devider"></li>
            <li><a href="page_faq.html">Help</a></li>
            <li class="topbar-devider"></li>
            <li><a href="page_login.html">Login</a></li>
        </ul>
    </div>
}

@helper topbarV3()
{
    <div class="topbar-v3">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <!-- Topbar Navigation -->
                    <ul class="left-topbar">
                        <li title="超级管理员，欢迎访问默认站点！">
                            <a href="javascript:void(0)">
                                超级管理员，欢迎访问默认站点！
                            </a>
                        </li>
                    </ul>
                    <!--/end left-topbar-->
                </div>
                <div class="col-sm-9">
                    <ul class="list-inline right-topbar pull-right">

                        <li title="平台首页"><a href="/default/portal/home/index"><i class="fa fa-cloud"></i>平台首页</a></li>
                        <li class="topbar-devider"></li>
                        <li title="本站首页"><a href="/default/portal/home/index"><i class="ace-icon fa fa-home"></i>本站首页</a></li>
                        <li class="topbar-devider"></li>
                        <li title="我的消息"><a href="/space/super/Message/Index"><i class="fa fa-envelope"></i>我的消息</a></li>
                        <li class="topbar-devider"></li>
                        <li><a href="/adminsg/home/index"><i class="fa fa-sitemap"></i>站群管理</a></li>
                        <li class="topbar-devider"></li>
                        <li><a href="/default/Admin/Home/Index"><i class="fa fa-cogs"></i>站点管理</a></li>
                        <li class="topbar-devider"></li>
                        <li><a href="/default/AdminApp/Home/Index"><i class="fa fa-cog"></i>应用管理</a></li>
                        <li class="topbar-devider"></li>
                        <li><a href="/space/super/Home/Index"><i class="ace-icon fa fa-star"></i>个人空间</a></li>
                        <li class="topbar-devider"></li>
                        <li><a href="/Common/Account/Logout"><i class="ace-icon fa fa-power-off"></i>注销</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/container-->
    </div>
}

@helper _CheckBrowser()
{
    <div class="alert alert-danger fade in alert-dismissable hidden" style="z-index: 999999; position: fixed; top: 0; width: 100%; " id="headerIsRightBrowser">
        <button type="button" class="close" data-dismiss="alert" onclick="divhidden">&times;</button>
        <strong>警告!</strong> <span>当前使用的浏览器版本过低，建议使用Firefox 4、Chrome 13或IE 9以上的浏览器。（点击下载新版本的浏览器：<a href="http://www.firefox.com.cn/" target="_Blank">Firefox</a>&nbsp;&nbsp;&nbsp;<a href="http://www.google.cn/chrome" target="_Blank">Chrome</a>)</span>
    </div>
}

@helper _Menus()
{
    <div class="navbar navbar-default mega-menu" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/default/portal/home/index" target="_blank">

                    <img id="logo-header" src="/Content/images/demo.jpg" alt="教育云平台" style="margin-bottom: 0">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <!-- Nav Menu -->
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href="/default/portal/home/index" id="portal0.0">
                            <i class="fa fa-home"></i>
                            本站首页
                        </a>
                    </li>



                    <li class="dropdown active">
                        <a href="#" id="portal1">
                            资源中心
                        </a>
                        <ul class="dropdown-menu">
                            <li class="active">
                                <a href="/default/portal/resource/index" id="portal1.1">
                                    优课中心
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="/default/portal/sitelist/index" id="portal0.1">
                            学校列表
                        </a>
                    </li>
                    <li class="">
                        <a href="/default/news/home/index" id="news0">
                            公告中心
                        </a>
                    </li>
                </ul>
                <!-- End Nav Menu -->
            </div>
        </div>
    </div>
}