<div class="header">
        <div class="container">
            <!-- Logo -->
            <a class="logo" href="#">
                <img src="~/Content/images/demo.jpg" alt="logo" title="logo" width="120" height="40">
            </a>
            <!-- End Logo -->

            <!-- Topbar -->
            <div class="topbar">
                <ul class="loginbar pull-right">
                    <li class="hoverSelector">
                        <i class="fa fa-globe"></i>
                        <a>Languages</a>
                        <ul class="languages hoverSelectorBlock">
                            <li class="active">
                                <a href="#">English<i class="fa fa-check"></i></a>
                            </li>
                            <li><a href="#">简体中文</a></li>
                        </ul>
                    </li>
                    <li class="topbar-devider"></li>
                    <li><a href="page_faq.html">帮助</a></li>
                    <li class="topbar-devider"></li>
                    <li><a href="page_login.html">登录</a></li>
                </ul>
            </div>
            <!-- End Topbar -->

            <!-- Toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <!-- End Toggle -->
        </div><!--/end container-->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
            <div class="container">
                <ul class="nav navbar-nav">
                    <!-- Home -->
                    <li>
                        <a href="~/">
                            首页
                        </a>
                    </li>
                    <!-- End Home -->
                                        
                    <!-- 门户页 -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            门户页
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">TODO</a></li>
                            <li><a href="#">TODO</a></li>
                            <li><a href="#">TODO</a></li>
                            <li><a href="#">TODO</a></li>
                        </ul>
                    </li>
                    <!-- End 门户页 -->
                    
                    <!-- 内容页 -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            内容页
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">TODO</a></li>
                            <li><a href="#">TODO</a></li>
                            <li><a href="#">TODO</a></li>
                            <li><a href="#">TODO</a></li>
                        </ul>
                    </li>
                    <!-- End 内容页 -->

                    <!-- Pages -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            其他页
                        </a>
                        <ul class="dropdown-menu">                                               
                            <!-- Contacts -->
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    Contact Pages
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="page_contact1.html">Contacts Default</a></li>
                                    <li><a href="page_contact2.html">Contacts Option 1</a></li>
                                    <li><a href="page_contact3.html">Contacts Option 2</a></li>
                                    <li><a href="page_contact4.html">Contacts Option 3</a></li>
                                    <li><a href="page_contact_advanced.php">Contacts Advanced</a></li>
                                </ul>
                            </li>
                            <!-- End Contacts -->

                            <!-- Profile Pages -->
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0);">Profile Pages</a>
                                <ul class="dropdown-menu">
                                    <li><a href="page_profile.html">Profile Main Page</a></li>
                                    <li><a href="page_profile_me.html">Profile Overview</a></li>
                                    <li><a href="page_profile_users.html">Profile Users</a></li>
                                    <li><a href="page_profile_projects.html">Profile Projects</a></li>
                                    <li><a href="page_profile_comments.html">Profile Comments</a></li>
                                    <li><a href="page_profile_history.html">Profile History</a></li>
                                    <li><a href="page_profile_settings.html">Profile Settings</a></li>
                                </ul>
                            </li>
                            <!-- End Profile Pages -->

                            <!-- Job Pages -->
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0);">Job Pages</a>
                                <ul class="dropdown-menu">
                                    <li><a href="page_jobs.html">Jobs Main Page</a></li>
                                    <li><a href="page_jobs1.html">Jobs Main Page 1</a></li>
                                    <li><a href="page_jobs_inner.html">Jobs Description Default</a></li>
                                    <li><a href="page_jobs_inner1.html">Jobs Description Basic</a></li>
                                    <li><a href="page_jobs_inner2.html">Jobs Description Min</a></li>
                                </ul>
                            </li>
                            <!-- End Job Pages -->

                            <!-- Pricing Tables -->
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0);">Pricing Tables</a>
                                <ul class="dropdown-menu">
                                    <li><a href="page_pricing_colorful.html">Colorful Pricing Tables</a></li>
                                    <li><a href="page_pricing_flat.html">Flat Pricing Tables</a></li>
                                    <li><a href="page_pricing_light.html">Light Pricing Tables</a></li>
                                    <li><a href="page_pricing_mega.html">Mega Pricing Tables</a></li>
                                    <li><a href="page_pricing.html">Default Pricing Tables</a></li>
                                </ul>
                            </li>
                            <!-- End Pricing Tables -->

                            <!-- Login and Registration -->
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0);">登录注册</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">TODO</a></li>
                                    <li><a href="#">TODO</a></li>
                                </ul>
                            </li>
                            <!-- End Login and Registration -->

                            <!-- FAQs Pages -->
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0);">FAQs</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">TODO</a></li>
                                    <li><a href="#">TODO</a></li>
                                </ul>
                            </li>
                            <!-- End FAQs Pages -->
                            
                            <!-- Search Results -->
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0);">搜索结果页</a>
                                <ul class="dropdown-menu">
                                    <li><a href="page_search_inner_full_width.html">Search Results Full Width</a></li>
                                    <li><a href="page_search_inner_left_sidebar.html">Search Result Left Sidebar</a></li>
                                    <li><a href="page_search_table.html">Search Result Tables</a></li>
                                </ul>
                            </li>
                            <!-- End Search Results -->

                            <!-- Coming Soon -->
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0);">Coming Soon Pages</a>
                                <ul class="dropdown-menu">
                                    <li><a href="page_coming_soon.html">Coming Soon</a></li>
                                    <li><a href="page_coming_soon1.html">Coming Soon 1</a></li>
                                </ul>
                            </li>
                            <!-- End Coming Soon -->

                            <!-- Error Pages -->
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0);">错误页</a>
                                <ul class="dropdown-menu">
                                    <li><a href="page_404_error.html">404 Error Default</a></li>
                                    <li><a href="page_404_error1.html">404 Error Option 1</a></li>
                                    <li><a href="page_404_error2.html">404 Error Option 2</a></li>
                                    <li><a href="page_404_error3.html">404 Error Option 3</a></li>
                                </ul>
                            </li>
                            <!-- End Error Pages -->
                            
                            <!-- Error Pages -->
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0);">其他</a>
                                <ul class="dropdown-menu">                                    
                                    <!-- End Error Pages -->
                                    <!-- Invoice Page -->
                                    <li><a href="page_invoice.html">Invoice Page</a></li>
                                    <!-- End Invoice Page -->

                                    <!-- Clients Page -->
                                    <li><a href="page_clients.html">Clients Page</a></li>
                                    <!-- End Clients Page -->

                                    <!-- Column Pages -->
                                    <li><a href="page_3_columns.html">Three Columns Page</a></li>
                                    <!-- End Column Pages -->

                                    <!-- Privacy Policy -->
                                    <li><a href="page_privacy.html">Privacy Policy</a></li>
                                    <!-- End Privacy Policy -->

                                    <!-- Terms of Service -->
                                    <li><a href="page_terms.html">Terms of Service</a></li>
                                    <!-- End Terms of Service -->
                                </ul>
                            </li>

                            <!-- Sub Level Menu -->
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0);">Sub Level 1</a>
                                <ul class="dropdown-menu no-bottom-space">
                                    <li><a href="index.hmtl">Sub Level 2</a></li>
                                    <li class="dropdown-submenu">
                                        <a href="javascript:void(0);">Sub Level 2</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="index.hmtl">Sub Level 3</a></li>
                                            <li><a href="index.hmtl">Sub Level 3</a></li>
                                            <li><a href="index.hmtl">Sub Level 3</a></li>
                                            <li><a href="index.hmtl">Sub Level 3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="index.hmtl">Sub Level 2</a></li>
                                    <li class="dropdown-submenu">
                                        <a href="javascript:void(0);">Sub Level 2</a>
                                        <ul class="dropdown-menu no-bottom-space">
                                            <li><a href="index.hmtl">Sub Level 3</a></li>
                                            <li><a href="index.hmtl">Sub Level 3</a></li>
                                            <li><a href="index.hmtl">Sub Level 3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <!-- End Sub Level Menu -->
                        </ul>
                    </li>
                    <!-- End Pages -->

                    <!-- Misc Pages -->
                    <li class="dropdown active">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            快速模板
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="page_misc_blank.html" title="空页面">Blank page</a></li>
                            <li><a href="page_misc_boxed.html" title="盒子">Boxed Page</a></li>
                            <li><a href="page_misc_boxed_img.html" title="盒子+图片">Boxed Image Page</a></li>
                            <li><a href="page_misc_boxed_fixed_header.html" title="固定菜单">Boxed Fixed Menu</a></li>
                            <li><a href="page_misc_dark.html" title="暗色调">Dark Page</a></li>
                            <li><a href="page_misc_dark_boxed.html" title="暗色盒子">Dark Boxed Page</a></li>
                            <li><a href="page_misc_dark_other_color.html" title="主题颜色">Dark Page with Theme Color</a></li>
                            <li><a href="page_misc_sticky_footer.html" title="固定Footer">Sticky Footer Example</a></li>
                        </ul>
                    </li>
                    <!-- End Misc Pages -->

                    <!-- Search Block -->
                    <li>
                        <i class="search fa fa-search search-btn"></i>
                        <div class="search-open">
                            <div class="input-group animated fadeInDown">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-btn">
                                    <button class="btn-u" type="button">Go</button>
                                </span>
                            </div>
                        </div>
                    </li>
                    <!-- End Search Block -->
                </ul>
            </div><!--/end container-->
        </div><!--/navbar-collapse-->
    </div>