@{
    //todo
    var company = MyRazorHelper.GetCompanyName();
}
<div class="footer">
    <div class="footer-inner">
        <div class="footer-content">
            © @company
        </div>
    </div>
</div>